{% extends 'base.html' %}
{% load static %}
{% block title %} Histórico {% endblock %}
{% block content %} 

	<!-- ===================== FILTRO PDF ================== -->
	<h1 id="h1-center">Histórico</h1> 
	<!-- ============================== CABEÇALHO ========================== -->
	<fieldset class="card card-body">
	<legend>Funcionário</legend>
	<table class="table table table-striped">
	    	<tr>
	    		<th>Nome:</th><th>Responsável:</th>
	   			<th>Função:</th><th>Data de admissão:</th><th>Carga horária</th>
	    	</tr>
	    	<tr>
	    		<th>{{ individuo.nome }}</th><th>{{ individuo.responsavel }}</th>
	    		<th>{{ individuo.funcao }}</th><th>{{ individuo.data_admissao }}</th>
	    		<th>{{ individuo.carga_horaria }} Horas</th>
	    	</tr>
	</table>
	</fieldset>
	<!-- ============================== CABEÇALHO ========================== -->

	<!-- ============================== TELA FILTRAR RELATÓRIO ========================== -->
	<form method="POST" action="pdf/{{ dia.codigo }}">
	<center>
    {% csrf_token %}
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title">Relatório do Histórico</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <div class="modal-body">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><b> Gerar Relatório do Dia: </b></h5>
                          <select name="selectdata" id="selectdata" class="form-control">
                            <option value="todas">Todos os dias</option>
                            {% for data in data %}
                              <option value="{{ data.data }}">{{ data.data }}</option>
                            {% endfor %}
                          </select>
                        </div>
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                          <h5 class="card-title"><b> Campos que vai ter:</b></h5>
                          <select name="selectcampos" id="selectcampos" class="form-control">
                              <option value="todos">Todos os campos</option>
                              <option value="1"> Intervalo - Hora Extra - Total Horas </option>
                              <option value="2"> Intervalo - Hora Extra - Horas Trabalhadas </option>
                              <option value="3"> Intervalo - Total Horas - Horas Trabalhadas  </option>
                              <option value="4"> Total Horas - Horas Trabalhadas - Hora Extra </option>
                          </select>
                          <span> *Entrada e Saída são campos obrigatórios</span>
                        </div>
                    </div>
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                         <!-- <h5 class="card-title"><b> Campos que vai ter:</b></h5> -->
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" id="radiocom" value="com">
							  <label class="form-check-label" for="radiocom">Com batidas</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" id="radiosem" value="sem">
							  <label class="form-check-label" for="radiosem">Sem batidas</label>
							</div>         
                        </div>
                    </div>

              </div>
              <div class="modal-footer">
                  <button type="button" class="badge badge-secundary" data-dismiss="modal"><img src="{% static 'images/excluir.png' %}" class="icon_menu">Fechar</button>
                  <button type="submit" class="badge badge-info"> <img src="{% static 'images/print.png' %}" class="icon_menu">Gerar PDF</button>
              </div>
          </div>
        </div>
      </div>
    </center>  
    </form>
    <!-- ============================== TELA FILTRAR RELATÓRIO ========================== -->
    <hr>
    <!-- ======================== FILTRO ESCOLHER DIA E BOTÃO GERAR PDF =================== -->
	<div class="col-12">
     <form method="POST">
	      {% csrf_token %}
	        <div class="col-6 input-group">
			  <select class="custom-select" name="filterdata" id="inputGroupSelect04" aria-label="Exemplo de select com botão addon">
			    <option value="">Escolha um dia</option>
			    {% for data in data %}
		        <option value="{{ data.data }}">{{ data.data }}</option>
		        {% endfor %}
			  </select>
			  <div class="input-group-append">
			    <button class="btn btn-outline-secondary" type="submit">Ir</button>
			  </div>
			</div>
     </form>
  	</div>
	  		<center>
	    	<button class="badge badge-dark" class="btn btn-dark" type="button" data-toggle="collapse" data-target="#infodia" aria-expanded="false" aria-controls="infodia">Informações do dia</button>
			<button type="button" class="badge badge-dark" data-toggle="modal" data-target=".bd-example-modal-lg"><img src="{% static 'images/pdf.png' %}" class="icon_menu">Relatório</button>
			</center>
  	<!-- ======================== FILTRO ESCOLHER DIA E GERAR PDF ======================== -->

  	<!-- ======================== TABELA COM INFORMAÇÕES DO DIA ========================= -->
    <div class="collapse" id="infodia">
	  <fieldset class="card card-body">
	  <legend>Diária</legend>
	    <table class="table table table-bordered">
	    	<tr>
	    		<td>Entrada:</td><td>{{ dia.entrada }}</td>
	    		{% if dia.saida == None %}
	    			<td>Saída</td><td>...</td>
	    		{% else %}
	    			<td>Saída:</td><td>{{ dia.saida }}</td>
	    		{% endif %}
	    		<td>Intervalo:</td><td>{{ dia.intervalo }}</td>
	    	</tr>
	    	<tr>
	    		<td>Horas extras: </td><td>{{ dia.hora_extra }}</td>
	    		<td>Total de horas:</td><td>{{ dia.total_horas }}</td>
	    		<td>Horas Trabalhadas:</td><td>{{ dia.hrs_trabalhadas }}</td>
	    	</tr>
	    </table>
	    <button class="btn btn-outline-dark my-2 my-sm-0" data-toggle="modal" data-target="#Modaleditar" 
	    ><a href="diaria/{{ dia.id }}">Editar</a></button>
	  </fieldset>
	</div>
	<!-- ======================== TABELA COM INFORMAÇÕES DO DIA ========================= -->
	<br>
	<!-- ========================== TABELA COM BATIDAS DO DIA =========================== -->
	<fieldset class="card card-body">	
		<legend>Batidas do dia</legend>
		<table class="table">
			<tr>
				<th>Entrada/Saida</th> <th>Código</th> 
			</tr>
			{% for hist in hist %}
				<tr class="hover">
					<td>{{hist.data}}</td> <td>{{hist.codigo}}</td>
				</tr>
			{% endfor %}
		</table>
	</fieldset>	
	<!-- ========================== TABELA COM BATIDAS DO DIA =========================== -->
{% endblock %}